# project
export PROJECT_HOME=$PWD

# docker
export DOCKER_APP_VOLUME=/var/app
export DOCKER_HOME=~/docker
export DOCKER_COMPOSE_HOME=~/docker-compose

# aws
export AWS_SHARED_CREDENTIALS_FILE=~/.aws/credentials
export AWS_CONFIG_FILE=~/.aws/config
